@model IEnumerable<ISC567Web.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Events</h2>

<p>
    <a asp-action="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EventLogo)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <img src="@Url.Content("~")/images/@item.EventLogo" height="250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                <img src="@Url.Content("~")/images/@item.EventLogo" height="250px" />
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventID"class=" btn btn-primary">Edit Event</a><br />
                <a asp-action="Details" asp-route-id="@item.EventID"class=" btn btn-primary">Event Details</a><br />
                <a asp-action="Delete" asp-route-id="@item.EventID"class=" btn btn-danger">Delete Event</a>
            </td>
        </tr>
        }
    </tbody>
</table>
